.screen {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: black solid 5px;
  width: 700px;
  height: 500px;
  border-radius: 20px;

  .separator {
    margin: 20px;
    display: flex;
    justify-content: space-between;

    .especifications {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .name {
        border: black solid 5px;
        padding: 20px;
        width: 300px;
      }
    }

    .image {
      border: black solid 5px;
      display: flex;
      width: 200px;
      height: 200px;

      img{
        width: 200px;
        height: 200px;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;

    span{
      font-size: 30px;
    }
  }
}
